@inject IModalService modal
@using Shakat.Shared.Models;
@using Shakat.UI.Services.Contracts

<div class="vehicle-selector row">
	<div class="col-sm-3"><span id="select_truck" style="color: rgb(198, 12, 12); font-weight: bold; text-align: right; font-size: 16px; display: none;">Select Preferred Truck &gt;&gt;</span></div>
	<div class="col-sm-6 row">
		<div class="col-sm-4">
			<input type="radio" class="truck-radio" name="truck-type" id="open"
				@onclick="@(()=>modal.Show<OpenTruckModal>("Open Truck"))">
			<label class="truck-label" for="open" data-toggle="modal" data-target="#opentruckModal">
				<div style="">
					<img src="images/Open body truck.png" alt="" style="width:60px; height:60px;">
					<span>Open Truck</span>
				</div>
			</label>
			
		</div>
		<div class="col-sm-4">
			<input type="radio" class="truck-radio" name="truck-type" id="container"
				@onclick="@(()=>modal.Show<ContainerTruckModal>("Container Truck"))">
			<label class="truck-label" for="container" data-toggle="modal" data-target="#containertruckModal">
				<div>
					<img src="images/Container.png" alt="" style="width:60px; height:60px;">
					<span>Container</span>
				</div>
			</label>

		</div>
		<div class="col-sm-4">
			<input type="radio" class="truck-radio" name="truck-type" id="trailer"
				@onclick="@(()=>modal.Show<TrailerTruckModal>("Trailer Truck"))">
			<label class="truck-label" for="trailer" data-toggle="modal" data-target="#trailertruckModal">
				<div>
					<img src="images/Trailer.png" alt="" style="width:60px; height:60px;">
					<span>Trailer</span>
				</div>
			</label>
			<div class="modal fade" id="trailertruckModal" role="dialog" data-backdrop="static" data-keyboard="false" style="display: none;">
				<div class="modal-dialog">

					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title text-center">Trailer</h4>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-3"></div>
</div>
@*<hr />
<div>
	<EditForm Model="@newVehicleTypeInfoDtoObject">
		<InputRadioGroup @bind-Value="newVehicleTypeInfoDtoObject.VehicleTypeInfoId">
			@foreach (var item in VehicleTypeInfos)
			{
			<div>
				<InputRadio id="1radio" Value="@item.VehicleTypeInfoId" checked="checked" />@item.Type
			</div>
			}
		</InputRadioGroup>

	</EditForm>
</div>*@

@code{

	[Inject]

	public IVehicleTypeInfoService VehicleTypeService { get; set; }

	public IEnumerable<VehicleTypeInfoDto> VehicleTypeInfos { get; set; } = new List<VehicleTypeInfoDto>();

	public VehicleTypeInfoDto newVehicleTypeInfoDtoObject { get; set; } = new();

	//private VehicleTypeInfoDto _model = new() { newVehicleTypeInfoDtoObject = VehicleTypeInfos.Unknown };

	protected override async Task OnInitializedAsync()
	{
		VehicleTypeInfos = await VehicleTypeService.GetAll();
	}
}