@page "/admin/vehicletype/{Action?}/{Id:int?}"

<h3>Admin - VehicleType</h3>

@if (Id > 0)
{
   editItem = Vehicles.Single(i => i.VehicleTypeInfoId == Id);
}

@if (Vehicles == null)
{
    <p><em>Loading...</em></p>
}

else if (Action == "Create")
{
    <h1>Create</h1>
    <hr />

   <div>
        <dl class="row">
            
            <dt class = "col-sm-2">
               Vehicle Type
            </dt>
            <dd class = "col-sm-12">
                <div class="form-group">
                    <input @bind="newTypeObject.Type" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </dd>
            @*<dt class = "col-sm-2">
               Vehicle Type Id
            </dt>
            <dd class = "col-sm-12">
                <div class="form-group">
                    <input @bind="newTypeObject.VehicleSubTypeInfo" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </dd>*@
            
        </dl>
        <button class="btn btn-success" @onclick="AddItem">Add</button>
    </div>

    <br />
     <div>
            <NavLink href="admin/vehicletype">Back to List</NavLink>
    </div>
}

else if (Action == "Edit")
{
    <h1>Edit</h1>
    <hr />

    <div>
        <dl class="row">
            <dt class = "col-sm-2">
                Id
            </dt>
            <dd class = "col-sm-12">
                @editItem.VehicleTypeInfoId
            </dd>
            <dt class = "col-sm-2">
               Vehicle Type
            </dt>
            <dd class = "col-sm-12">
                <div class="form-group">
                    <input @bind="editItem.Type" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </dd>
            @* <dt class = "col-sm-2">
               Vehicle Type Id
            </dt>
            <dd class = "col-sm-12">
                 <div class="form-group">
                    <input @bind="editItem.VehicleSubTypeInfo" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </dd>*@
         </dl>
        <div class="form-group">
            <button class="btn btn-primary" @onclick="UpdateItem">
                Save
            </button>
        </div>
    </div>

    <br />
     <div>
            <NavLink href="admin/vehicletype">Back to List</NavLink>
    </div>
}

else if (Action == "Details")
{
    <h1>Details</h1>
    <hr />
    <br />
    <div>
         <dl class="row">
            <dt class = "col-sm-2">
                Id
            </dt>
            <dd class = "col-sm-10">
                @editItem.VehicleTypeInfoId
            </dd>
            <dt class = "col-sm-2">
               Vehicle Type
            </dt>
            <dd class = "col-sm-10">
                @editItem.Type
            </dd>
            @* <dt class = "col-sm-2">
               Vehicle Type Id
            </dt>
            <dd class = "col-sm-10">
                @editItem.VehicleTypeInfoId
            </dd>*@
        </dl>
    </div>
     <div>
            <NavLink href="admin/vehicletype">Back to List</NavLink>
    </div>
}

else if (Action == "Delete")
{
    <h1>Delete</h1>
    <hr />

     <h3>Are you sure you want to delete this?</h3>

     <div>
         <hr />
          <dl class="row">
            <dt class = "col-sm-2">
                Id
            </dt>
            <dd class = "col-sm-10">
                @editItem.VehicleTypeInfoId
            </dd>
            <dt class = "col-sm-2">
               Vehicle Sub Type
            </dt>
            <dd class = "col-sm-10">
                @editItem.Type
            </dd>
            @* <dt class = "col-sm-2">
               Vehicle Type Id
            </dt>
            <dd class = "col-sm-10">
                @editItem.VehicleSubTypes
            </dd>*@
        </dl>
     </div>
    <div>
         <button class="btn btn-danger" 
          @onclick="@(async () => await DeleteItem(editItem.VehicleTypeInfoId))">
            Delete
          </button>
     </div>

    <br />
     <div>
            <NavLink href="admin/vehicletype">Back to List</NavLink>
    </div>
}

else
{
<p>
        <NavLink href="admin/vehicletype/Create">Create New</NavLink>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Vehicle Id</th>
                <th>Vehicle Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Vehicles)
            {
                <tr>
                    <td>@item.VehicleTypeInfoId</td>
                    <td>@item.Type</td>
                    <td>
                        <NavLink href="@($"admin/vehicletype/Edit/{item.VehicleTypeInfoId}")">Edit</NavLink> | 
                        <NavLink href="@($"admin/vehicletype/Details/{item.VehicleTypeInfoId}")">Details</NavLink> | 
                        <NavLink href="@($"admin/vehicletype/Delete/{item.VehicleTypeInfoId}")">Delete</NavLink>                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    [Parameter]
    public string? Action { get; set; }

    [Parameter]
    public int? Id { get; set; }
}